---
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "@router/router";
import TopAnimeIsland from "./TopAnimeIsland/TopAnimeIsland";
---

<Layout title={ROUTER.home.display}>
  <main>
    <TopAnimeIsland client:only="solid-js" />
  </main>
</Layout>
